#intro {
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent{
    margin-bottom: 3rem;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introText {
    text-shadow: 2px 0 #088c74, -2px 0 #088c74, 0 2px #088c74, 0 -2px #088c74,
               1px 1px #088c74, -1px -1px #088c74, 1px -1px #088c74, -1px 1px #088c74;
}

.introName {
    color: #088c74;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.introP {
    font-size: small;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(190, 190, 190);
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width:840px) {
    .introContent {
        height: 100vw;
    }
    .bg {
        display: none;
    }
    .introContent {
        font-size: 10vw;
    }
    .Hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:480px) {
    .bg {
        display: none;
    }
}